---
storage:
  storageClassName: "standard"
  pvcSize: 10Gi

lighthouse:
  beacon:
    resources:
      limits:
        cpu: 1
        memory: 2Gi
      requests:
        cpu: 1
        memory: 2Gi
    ingress:
      http:
        enabled: true
        annotations: {}
        hosts:
          - host: http-lighthouse.example.com
            paths:
              - path: /bn
                pathType: ImplementationSpecific
        tls: []
    checkpointSync:
      enabled: false

  validator:
    resources:
      limits:
        cpu: 1
        memory: 2Gi
      requests:
        cpu: 1
        memory: 2Gi
    ingress:
      http:
        enabled: true
        annotations: {}
        hosts:
          - host: http-lighthouse.example.com
            paths:
              - path: /vc
                pathType: ImplementationSpecific
        tls: []
